.about {
    height: 100vh;
    color: white;
    margin-top: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    max-width: 1360px;
    margin-top: 40px;
}

.about-hedding {
    display: flex;
    justify-content: center;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.about-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lenguage {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.lenguage p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-right: 18px;
}

.lenguage-flag img{
    margin-right: 7px;
}
.lenguage-flag img:last-child{
    margin-right: 0px;
}

.info-about-user{
    max-width: 790px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.user-info-top {
    display: flex;
    margin-right: 70px;
    align-items: center;
}

.top-text {
    margin-right: 70px;
}

.top-text p {
    color: #A8A8A8;
}

b {
    color: white;
}

.user-info-middle {
    display: flex;
    align-items: center;
}

.user-info-middle img {
    margin-left: 106px;
}

.middle-text {
    margin-left: 106px;
}

.bottom-text {
    margin-right: 349px;
}

.user-benefits {
    margin-top: 80px;
}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.check:last-child{
    margin-bottom: 40px;
}

.check img {
    margin-right: 20px;
}

.user-app {
    display: flex;
    justify-content: space-between;
}

.user-app-mobile {
    display: none;
}

.app-check {
    display: flex;
    align-items: center;
    /* margin-right: 62px; */
}

.app-check:last-child {
    margin-right: 0;
}

.app-check img {
    margin-right: 25px;
}

.app-check img:last-child {
    margin-right: 0;
}


@media (max-width: 1550px) {
    .about-content {
        max-width: 1060px;
    }
    .user-photo {
        width: 250px;
        height: 250x;
    }
}

@media (max-width: 1390px) {
    .about {
        height: auto;
    }
    .about-content {
        max-width: 1100px;
    }

    .app-check img {
        margin-right: 10px;
    }
}

@media (max-width: 1200px) {
    .about-info {
        flex-direction: column;
    }

    .info-about-user {
        margin-top: 40px;
    }
}

@media (max-width: 900px) {
    .about-hedding {
        font-size: 32px;
        line-height: 32px; 
    }
}

@media (max-width: 780px) {
    .info-about-user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-info-top {
        display: flex;
        margin-right: 0px;
        align-items: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .top-text {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    .user-info-middle {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 40px;
    }

    .user-info-middle img {
        margin-left: 0px;
        
    }

    .middle-text {
        margin-left: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    .bottom-text {
        margin-right: 0px;
        text-align: center;
    }

    .user-app {
        display: none;
    }

    .user-app-mobile {
        display: flex;
        width: 500px;
        height: 130px;
        justify-content: space-between;
    }

    .app-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app-check img {
        margin-right: 20px;
    }
}

@media (max-width: 560px) {

    .about-content {
        max-width: 400px;
    }

    .info-about-user {
        max-width: 350px;
        font-size: 16px;
        line-height: 19px;
    }

    .user-app-mobile {
        width: 350px;
    }

    .about {
        margin-top: 97px;
    }
}


