.about {
    /* height: 100vh; */
    color: white;
    margin-top: 239px;
}

.about-content {
    max-width: 1360px;
}

.about-hedding {
    display: flex;
    justify-content: center;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.about-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lenguage {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.lenguage p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-right: 18px;
}

.lenguage-flag img{
    margin-right: 7px;
}
.lenguage-flag img:last-child{
    margin-right: 0px;
}

.info-about-user{
    max-width: 790px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.user-info-top {
    display: flex;
    margin-right: 70px;
    align-items: center;
}

.top-text {
    margin-right: 70px;
}

.top-text p {
    color: #A8A8A8;
}

b {
    color: white;
}

.user-info-middle {
    display: flex;
    align-items: center;
}

.user-info-middle img {
    margin-left: 106px;
}

.middle-text {
    margin-left: 106px;
}

.bottom-text {
    margin-right: 349px;
}

.user-benefits {
    margin-top: 80px;
}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.check:last-child{
    margin-bottom: 40px;
}

.check img {
    margin-right: 20px;
}

.user-app {
    display: flex;
}

.app-check {
    display: flex;
    align-items: center;
    margin-right: 62px;
}

.app-check:last-child {
    margin-right: 0;
}

.app-check img {
    margin-right: 25px;
}

.app-check img:last-child {
    margin-right: 0;
}
