.skills {
    height: 100vh;
    color: white;
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content {
    max-width: 1360px;
}

.skills-hedding {
    display: flex;
    justify-content: center;
    font-family: 'Kharkiv Tone';
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-info {
    margin-top: 120px;
}

.skills-circles {
    display: flex;
    justify-content: space-between;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 120px;
    height: 360px;
}

.experience-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 125px;
}

.experience-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 150px;
}

.experience-item {
    width: 340px;
}

.experience-item img {
    margin-bottom: 50px;
}

.experience-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}



@media (max-width: 1550px) {
    .skills-content {
        max-width: 1060px;
    }
}

@media (max-width: 1390px) {

    .skills {
        height: auto;
    }
    .circle {
        width: 250px;
        height: 250px;
    }
}


/* .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
}
.skills {
    position: relative;
    width: 70%;
    height: 1034%;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.skills-title {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.skills-items {
    width: 100%;
    height: 44%;
    margin-top: 120px;
}

.skills-circles {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.experience {
    width: 100%;
    height: 24%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.experience-top {
    display: flex;
    justify-content: space-between;
}

.experience-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.experience-item {
    width: 340px;
    height: 140px;
} */